[submodule "pinmux"]
	path = pinmux
	url = https://git.libre-soc.org/git/pinmux.git
[submodule "src/soc/litex/florent"]
	path = src/soc/litex/florent
	url = https://git.libre-soc.org/git/libresoc-litex.git
[submodule "nmigen-type-annotations"]
	path = nmigen-type-annotations
	url = https://git.libre-soc.org/git/nmigen-type-annotations.git
[submodule "soc-cocotb-sim"]
	path = soc-cocotb-sim
	url = https://git.libre-soc.org/git/soc-cocotb-sim.git
[submodule "src/soc/soc-cocotb-sim"]
	path = src/soc/soc-cocotb-sim
	url = https://git.libre-soc.org/git/soc-cocotb-sim.git
