/all.py
/bcd.py
/branch.py
/comparefixed.py
/condition.py
/fixedarith.py
/fixedldstcache.py
/fixedload.py
/fixedlogical.py
/fixedshift.py
/fixedstore.py
/fixedtrap.py
/sprset.py
/stringldst.py
/system.py
/simplev.py
*.orig
*.rej
