
interface remote_bitbang
remote_bitbang_port 44853
remote_bitbang_host localhost

# this should be irlen=4
jtag newtap libresoc tap -irlen 4 -irmask 0xf -ircapture 0xf -expected-id 0x000018ff

#set _TARGETNAME libresoc.tap
#target create $_TARGETNAME.0 ppc64 -chain-position $_TARGETNAME -rtos hwthread

# Configure work area in on-chip SRAM
#$_TARGETNAME.0 configure -work-area-phys 0x80000000 \
#               -work-area-size 1000 -work-area-backup 0

